/* :root { */
/*   --hsd-ui-sidebar-width: 19.125rem; */
/*   --hsd-ui-sidebar-width-collapse: 6rem; */
/* } */

*::-webkit-scrollbar {
  width: 1px;
}

body {
  background-color: var(--hsd-ui-color-gray-100);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

/* fix placeholder naik dan default font-family poppins */
.hsd-input-placeholder {
  font-family: 'Poppins', sans-serif !important;
  font-weight: 400 !important;
}

.hsd-input {
  font-family: 'Poppins', sans-serif !important;
}

/* OTP Field using @hudoro/input adjustment */
[data-class='otp-input'] .hsd-input {
  text-align: center;
}

[data-class='otp-input'] .hsd-input-placeholder {
  width: 100%;
  text-align: center;
  flex: 1;
}

.hudoro-menu-lists {
  gap: 0 !important;
  padding-block: 8px !important;
}

#file-item {
  border: 1px solid var(--hsd-ui-text-disable);
}

#file-item:hover {
  border: 1px solid var(--hsd-ui-color-info);
}

.hsd-pagination-item.hsd-pagination-selected {
  color: #ffffff !important;
}

.hsd-pagination-selected {
  background-color: var(--hsd-ui-brand-primary-default) !important;
}

.hsd-pagination-item {
  height: 38px !important;
  width: 38px !important;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hsd-drawer-container {
  box-shadow: -4px 0px 20px 0px rgba(0, 0, 0, 0.06) !important;
}

.hsd-drawer-container.hsd-drawer-hide-right {
  right: 110% !important;
}

._toolbarRoot_yms4a_160 {
  border-width: 0.01rem;
  border-radius: 0.25rem;
  border-style: solid;
  border-color: #78867f33;
  background-color: #fffeff !important;
}

._rootContentEditableWrapper_yms4a_1097.mdxeditor-root-contenteditable {
  margin-top: 0.5rem;
  border-width: 0.01rem;
  border-radius: 0.25rem;
  border-style: solid;
  border-color: #78867f33;
  background-color: #fffeff !important;
  min-height: 211px;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

em strong {
  font-weight: bold;
  font-style: italic;
}

ul,
ol {
  padding-left: 40px;
}

li {
  margin-bottom: 10px;
}

a {
  color: black;
  cursor: default;
}

.mdxeditor-popup-container {
  z-index: 9999 !important;
}

.truncated-text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 300px;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 12px;
}

#hero:before {
  content: '';
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#btn-masuk {
  margin-top: 24px;
  width: 100px;
  z-index: 10;
  color: white;
  border-color: white;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

/* #footer { */
/*   color: #37423b; */
/*   font-size: 14px; */
/*   background: #eef0ef; */
/* } */
/**/
/* #footer .footer-top { */
/*   padding: 60px 0 30px 0; */
/*   background: #f9faf9; */
/* } */
/**/
/* #footer .footer-top .footer-contact { */
/*   margin-bottom: 30px; */
/* } */
/**/
/* #footer .footer-top .footer-contact h4 { */
/*   font-size: 22px; */
/*   margin: 0 0 30px 0; */
/*   padding: 2px 0 2px 0; */
/*   line-height: 1; */
/*   font-weight: 700; */
/* } */
/**/
/* #footer .footer-top .footer-contact p { */
/*   font-size: 14px; */
/*   line-height: 24px; */
/*   margin-bottom: 0; */
/*   font-family: 'Raleway', sans-serif; */
/*   color: #777777; */
/* } */
/**/
/* #footer .footer-top h4 { */
/*   font-size: 16px; */
/*   font-weight: bold; */
/*   color: #444444; */
/*   position: relative; */
/*   padding-bottom: 12px; */
/* } */
/**/
/* #footer .footer-top .footer-links { */
/*   margin-bottom: 30px; */
/* } */
/**/
/* #footer .footer-top .footer-links ul { */
/*   list-style: none; */
/*   padding: 0; */
/*   margin: 0; */
/* } */
/**/
/* #footer .footer-top .footer-links ul i { */
/*   padding-right: 2px; */
/*   color: #5fcf80; */
/*   font-size: 18px; */
/*   line-height: 1; */
/* } */
/**/
/* #footer .footer-top .footer-links ul li { */
/*   padding: 10px 0; */
/*   display: flex; */
/*   align-items: center; */
/* } */
/**/
/* #footer .footer-top .footer-links ul li:first-child { */
/*   padding-top: 0; */
/* } */
/**/
/* #footer .footer-top .footer-links ul a { */
/*   color: #777777; */
/*   transition: 0.3s; */
/*   display: inline-block; */
/*   line-height: 1; */
/* } */
/**/
/* #footer .footer-top .footer-links ul a:hover { */
/*   text-decoration: none; */
/*   color: #5fcf80; */
/* } */
/**/
/* #footer .footer-newsletter { */
/*   font-size: 15px; */
/* } */
/**/
/* #footer .footer-newsletter h4 { */
/*   font-size: 16px; */
/*   font-weight: bold; */
/*   color: #444444; */
/*   position: relative; */
/*   padding-bottom: 12px; */
/* } */
/**/
/* #footer .footer-newsletter form { */
/*   margin-top: 30px; */
/*   background: #fff; */
/*   padding: 6px 10px; */
/*   position: relative; */
/*   border-radius: 50px; */
/*   text-align: left; */
/*   border: 1px solid #e0e5e2; */
/* } */
/**/
/* #footer .footer-newsletter form input[type='email'] { */
/*   border: 0; */
/*   padding: 4px 8px; */
/*   width: calc(100% - 100px); */
/* } */
/**/
/* #footer .footer-newsletter form input[type='submit'] { */
/*   position: absolute; */
/*   top: -1px; */
/*   right: -1px; */
/*   bottom: -1px; */
/*   border: 0; */
/*   background: none; */
/*   font-size: 16px; */
/*   padding: 0 20px 2px 20px; */
/*   background: #5fcf80; */
/*   color: #fff; */
/*   transition: 0.3s; */
/*   border-radius: 50px; */
/*   box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1); */
/* } */
/**/
/* #footer .footer-newsletter form input[type='submit']:hover { */
/*   background: #3ac162; */
/* } */
/**/
/* #footer .credits { */
/*   padding-top: 5px; */
/*   font-size: 13px; */
/* } */
/**/
/* #footer .credits a { */
/*   color: #3ac162; */
/*   transition: 0.3s; */
/* } */
/**/
/* #footer .credits a:hover { */
/*   color: #5fcf80; */
/* } */
/**/
/* #footer .social-links a { */
/*   font-size: 18px; */
/*   display: inline-block; */
/*   background: #5fcf80; */
/*   color: #fff; */
/*   line-height: 1; */
/*   padding: 8px 0; */
/*   margin-right: 4px; */
/*   border-radius: 50%; */
/*   text-align: center; */
/*   width: 36px; */
/*   height: 36px; */
/*   transition: 0.3s; */
/* } */
/**/
/* #footer .social-links a:hover { */
/*   background: #3ac162; */
/*   color: #fff; */
/*   text-decoration: none; */
/* } */
